BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px;
}
img {border:0 none;}
ul,li{ list-style-type:none;}

#warp {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 100%; PADDING-RIGHT: 0px; HEIGHT: 357px;; PADDING-TOP: 0px;
}
.banner {
	Z-INDEX: 99; MARGIN: 0px auto; WIDTH: 1171px; HEIGHT: 457px; position:relative;
}
.banner_l {left: 5px;position: absolute;top: 205px;width: 23px; z-index:100;  
}
.banner_r {
	right: 5px;position: absolute;top: 205px;width: 23px; z-index:100;
}
.bannerImg {
	POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 1171px; PADDING-RIGHT: 0px; FLOAT: left; PADDING-TOP: 0px
}
.bannerImg .bannerPage {bottom: 30px;left: 50%;margin-left: -35px;position: absolute;z-index:100;
}
.bannerImg .bannerPage A {
	MARGIN-RIGHT: 2px
}
.bannerImg .bannerPage A IMG {
	VERTICAL-ALIGN: middle
}
.slides_container {
	POSITION: relative; WIDTH: 1171px; OVERFLOW: hidden
}
.pagination {
	MARGIN: 26px auto 0px
}
.pagination LI {
	MARGIN: 0px 1px; FLOAT: left
}
.pagination LI A {
	BACKGROUND-IMAGE: url(../images/pagination.png); WIDTH: 15px; DISPLAY: block; BACKGROUND-POSITION: 0px -1px; FLOAT: left; HEIGHT: 0px; OVERFLOW: hidden; PADDING-TOP: 12px
}
.pagination LI.current A {
	BACKGROUND-POSITION: 0px -18px
}